* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black url('/src/images/bg.png') center no-repeat;
    background-size: cover;
}

.container {
    width: 400px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}

#btn-draw {
    width: 200px;
    height: 40px;
    color: white;
    background-color: red;
    border: none;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.2s;
}

#btn-draw:hover {
    background-color: rgb(255, 62, 62);
}